<h1>This is a notes API that serves JSON.</h1>
<ul>
  <li>To see all notes:</li>
  <ul>
    <li>GET '/notes'</li>
    <li><%= link_to "see what this looks like", notes_path %></li>
  </ul>
  <li>To see a single note:</li>
  <ul>
    <li>GET '/notes/:id'</li>
  </ul>
  <li>To create a new note:</li>
  <ul>
    <li>POST '/notes'</li>
    <li>form data keys are:</li>
    <ul>
      <li>note[title]</li>
      <li>note[body]</li>
    </ul>
  </ul>
  <li>To update a note:</li>
  <ul>
    <li>PATCH '/notes/:id'</li>
    <li>form data keys are:</li>
    <ul>
      <li>note[title]</li>
      <li>note[body]</li>
    </ul>
  </ul>
  <li>To delete a note:</li>
  <ul>
    <li>DELETE '/notes/:id'</li>
  </ul>
</ul>
